# 忽略 Python 缓存
__pycache__/
*.py[cod]

dataset/
models/
save/
swanlog/
checkpoint/

models/vision_model/
dataset/eval_images/
dataset/pretrain_images/
dataset/sft_images/
dataset/test_images/
save/
swanlog/
1.py

# 忽略虚拟环境
venv/
.env

# 忽略大体积模型权重文件 (核心！)
*.pth
*.bin
*.safetensors
*.ckpt
*.onnx
*.jsonl
# 忽略日志和临时文件
*.log
.vscode/
.idea/
.DS_Store
*.ipynb

